@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
body {
  background-image: url("/assets/daniel-sessler-p_3j4nZpZw4-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: lato;
}

.card {
  margin: 5px;
}

a {
  margin: 5px;
}

#navbarNav {
  display: flex;
  justify-content: space-around;
}

#cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;
}

#homeMain {
  position: relative;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: whitesmoke;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}

#homeMainNone {
  position: relative;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: whitesmoke;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}

#regionMain {
  position: relative;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: whitesmoke;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#regionHead {
  margin-top: 10px;
}

#homeMain:hover {
  -webkit-box-shadow: 0 0 10px rgb(111, 113, 122);
  box-shadow: 0 0 10px rgb(111, 113, 122);
}

#bottomCards {
  display: flex;
  justify-content: center;
  margin-top: 10px
}

.homeCards {
  width: 130px;
  height: 270px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: whitesmoke;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.homeCards:hover {
  -webkit-box-shadow: 0 0 10px rgb(111, 113, 122);
  box-shadow: 0 0 10px rgb(111, 113, 122);
}

#viewMain {
  position: relative;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: whitesmoke;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}


#logInMain {
  position: relative;
  width: 60%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: whitesmoke;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}


#searchResortMain {
  position: relative;
  width: 60%;
  height: 210px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: whitesmoke;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}

legend {
  margin-top: 15px;
}

#pass {
  margin-top: 10px;
}

#logoCont {
  display: flex;
  justify-content: center;
}

#homeImg {
  margin-top: 20px;
  border-radius: 3px;
  
}



.stats {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.pHead {
  text-decoration: underline;
}

p {
  font-size: 15px;
  text-align: center;
}

fieldset {
  text-align: center;
}
.form-control {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.userEnter {
  margin-top: 100%;
  
}

.userEnterHome {

  
}

.userEnterr {
  display: flex;
  justify-content: center;
}


#logInButReg {
  margin-top: 20px;
  font-size: 10px;
  margin-bottom: 10px;
}

#resortSearch {
  margin-top: 70px;
}

.regionImg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 4px;
  height: 40px;
  max-width: 90%;

}

#logInBut {
  margin-top: 20px;
  transition: 0.3s ease-in-out;
  padding: 5px;
  margin-bottom: 20px;
}

#logInBut:hover {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.571);
}

.homeButImg {
  height: 30px;
  width: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

#pokiBut {
  background-color: transparent;
  border: none;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.lowerBut {
  display: flex;
  justify-content: space-around;
}


.regionHomeImg {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.navHomeImg {
  height: 40px;
}

.regLink {
  font-size: 12px;
  color: white;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.regLink:hover {
  color: green;
}

.regList{
  padding: 0;
  margin: 0;
  list-style: none;
}

.regItem{
  background-image: url("/assets/pngaaa.com-178935.png") no-repeat left top;
  height: 5px;
  text-align: left;
  padding-left: 10px;
}

.listImg {
  height: 10px;
  padding-right: 10px;
  transition: 0.3s ease-in-out;
}

.regionDelete {
  height: 20px;
}

.regionDelBox {
  width: 25px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  transition: 0.3s ease-in-out;
  padding-top: 5px;
}

.regionDelBox:hover {
  background-color: rgba(255, 255, 255, 0.571);
}

.homeTop {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather {
  margin-bottom: 0px;
}

#viewImg {
  margin-top: 20px;
  border-radius: 4px;
}

.gotNone {
  color: white;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.gotNone:hover {
  color: rgb(106, 119, 138);
}