{% layout 'layout.liquid' %} {% block content %}

<div id="bottomCards">
  <div class="homeCards"></div>
  <div class="homeCards"></div>
  <div class="homeCards"></div>
  <div class="homeCards"></div>
</div>

<div id="bottomCards">
  <div class="homeCards"></div>
  <div class="homeCards"></div>
  <div class="homeCards"></div>
  <div class="homeCards"></div>
</div>



{% endblock %}
